body {
  background-color: white;
}

@media (max-width: 920px) {
  .card-container {
    flex: 1 33%;
  }
  @media (min-height: 680px), (max-width: 1080px), screen and (orientation: portrait) {

  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
}

.card-container {
  flex: 1 1 initial;
  width: 30%;
  margin: 10px;
  border: 1px solid lightblue;
  box-sizing: border-box 4px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
}

.soldout {
  justify-content: center;
}

#img-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
  top: 20%;
  left: 27%;
}

.card-container>header {
  font-family: "Sofia", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10px;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  background-color: darkgrey;
  color: yellow;
}

.section-1>p {
  text-align: justify;
}

.sofia-regular {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}
